/* Srabondhara Font Face */
@font-face {
  font-family: "FN Srabondhara Unicode";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../WebFont/Fonts/FN Srabondhara Unicode.woff) format("woff");
}
