/* FWWC2023 Font Face */
@font-face {
  font-family: "FWWC2023-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/Shimul404Dex/Shimul404-Dex-Website/raw/refs/heads/main/WebFont/Fonts/FWWC2023-Regular.woff') format("woff");
}
